<h1><%= @quiz.title %></h1>
<div id="quiz-container">
  <% @countries.each do |country| %>
    <div class="country" data-name="<%= country.name %>" data-population="<%= country.population %>">
      <%= country.name %>
      <span class="result"></span>
    </div>
  <% end %>
</div>
